body {
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.container{
  width: 15vw;
  font-family: Droid Sans;
  font-size: 13.3333px;
}

.container > ul {
    display: flex;
    justify-content: space-around;
}

.item {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0 0;
  height: 4vh;
  align-items: center;
  border-radius: 0.5vh;
  background-color: rgb(100, 150, 200);
  text-shadow: -1px 1px rgb(65, 124, 184);
  border: medium none;
}

input[type="submit"]{
  width: 100%;
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}

input[type="text"], input[type="password"] {
    border: medium none;
    height: 4vh;
    background: #ddd;
    padding: 0px;
    border-radius: 0 0.5vh 0.5vh 0;
    width: 13vw;
    text-indent: 1vw;
}

label:not([for="input_color"]) {
    width: 4vh;
}
label{
    text-align: center;
    display: inline-block;
    font-family: arial;
    font-size: 0.85rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

.container li {
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    margin: 0;
    padding: 0 1vw;
}


ul .item.active, ul .item:hover {
    color: #fff;
    background-color: #6496c8;
    box-shadow: 2px 2px #417cb8;
    cursor: pointer;
}

.alert {
    width: calc( 4vh + 13vw );
    height: 4vh;
    text-align: center;
    /*padding-top: 1vh;*/
}

.alert::before {
    /*background: #000;*/
    content: "\f0d8";
    font: normal normal normal 3vh/1 FontAwesome;
}
